.wd-outer-div {
    background-color: black!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}

.wd-inner-div {
    /* background-color: white; */
    padding: 20px;
    text-align: center;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
}